.step {
    display: none;
}

#step1-radio:checked~#step1,
#step2-radio:checked~#step2,
#step3-radio:checked~#step3,
#step4-radio:checked~#step4 {
    display: block;
}

.two-columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

input[type="radio"] {
    display: none;
}

body {
    font-family: Clash Display, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbaf1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f4f4f4;
}


h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Clash Display, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
  }

.step {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2d2d2d;
    border-color: #000000;
    border-width: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input[type="text"],
    input[type="file"] {
        background-color: #3c3c3c;
        color: #f4f4f4;
        border-color: #444;
        width: 50%;
    }
}

    button {
        background-color: #444;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
    }

    button:hover {
        background-color: #555;
    }
